body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

/**
 * Code formatting
 */
pre{
  font-size: 15px;
  border-radius: 3px;
  background-color: #000000;
  color: #000000;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow: auto; 

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


.article_manage {
padding: 5px 0;
color: #999;
font: normal 12px/24px Arial;
text-align: right;
}

.article_manage .link_categories {
  float: left;
}

.article_manage .link_view {
  padding: 0 0 0 14px;
  background: url(/images/ico_view.png) no-repeat left center;
}

table
{
 border-collapse:collapse; /* 关键属性：合并表格内外边框(其实表格边框有2px，外面1px，里面还有1px哦) */
 border:solid #999; /* 设置边框属性；样式(solid=实线)、颜色(#999=灰) */
 border-width:1px 0 0 1px; /* 设置边框状粗细：上 右 下 左 = 对应：1px 0 0 1px */
} 
table th{border:solid #999;border-width:0 1px 1px 0;padding:2px;}
table td {border:solid #999;border-width:0 1px 1px 0;padding:2px;}

.content {
 height:280px; 
 overflow:hidden
}

.copyright {
  margin-top: 15px;
  font-size: 11px;
  color: #cc0000;
}