---
layout: default
---

{% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
           <div class="article_manage">
                <span class="link_categories">
                分类:
                 {% for cat in post.categories %}
                  <a href="/showCategory.html?categoryName={{cat}}">{{ cat }}</a>
                {% endfor %} 
              </span>
              &nbsp;&nbsp;时间:
              <span>{{ post.date | date: "%Y-%m-%d" }}</span>
        </div>
        <span style="border-bottom:2px dotted #0094ff;"><hr></span>
        <div class="content">
          {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % }}
          {% else %}
            {{ post.content | strip_html | truncatewords:100 }}
          {% endif %}
        </div>
        <div class="article_manage">
           <span class="link_view" ><a href="{{ site.baseurl}}{{ post.url }}" title="阅读次数">阅读全文...</a></span>
        </div>

    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>
