<div class="sidebar well">
    <div><img src="/images/mine.jpg"></div>
    痛苦是必然的，磨烂是可选的
</div>

<div class='sidebar well category'>
    <h1>Posts sort</h1>
	<ul>
    {% for category in site.categories %}  
        <li class="category_list_item"><a href="/showCategory.html?categoryName={{ category | first }}">{{ category | first }}</a> ({{ category | last | size }})  
        </li>  
    {% endfor %}  
	</ul>
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
